li {
  list-style: none;
  padding: 20px 10px;
}

.deckWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.Modal {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: rgba(0, 0, 0, 1);
}

.Overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.5)
}
